#scroll {
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: var(--fg);
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  z-index: 100;
}
#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: var(--bg);
}
#scroll:hover {
  background-color: var(--accent1);
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}
